#datetime-picker {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  width: 272px;
}

.timer {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 24px;
      margin-top: 32px;
    }

    .field {
      text-align: center;
    }

    .value {
      font-weight: 400;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      color: #2e2f42;
      display: block;
    }

    .label {
      font-size: 16px;
      line-height: 1.5;
      color: #2e2f42;
    }

    button {
      margin-left: 8px;
      border: none;
      border-radius: 8px;
      padding: 8px 16px;
      width: 75px;
      background: #cfcfcf;
      color: #989898;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
    }

    button[data-start] {
      background: #4e75ff;
      color: #fff;
    }

    button[data-start]:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
